<center><h1>Text Analytics Assignment 2<h1/><center/>

# PART A

In [1]:
# post_info = pd.DataFrame.from_dict(posts, orient='index', columns=['display_url', 'caption', 'comments', 'likes'])
# post_info.head()
import pandas as pd

df = pd.read_csv('post_info.csv')

In [2]:
import matplotlib.pyplot as plt
plt.hist(df['comments'])
plt.title('Distribution of Number of Comments')
plt.xlabel('Number of Comments')
plt.ylabel('Proportion')
plt.show()

In [3]:
#normalizing using sklearn
import pandas as pd
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()

df['likes_scaled']= min_max_scaler.fit_transform(df[['likes']])
df['comments_scaled']= min_max_scaler.fit_transform(df[['comments']])
df = df.drop(df.columns[0], axis=1)
df.head()

,display_url,caption,comments,likes,likes_scaled,comments_scaled
0,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by William Albert Allard @williamalberta...,308,161611,0.043389,0.006566
1,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Katie Orlinsky @katieorlinsky | A you...,784,193888,0.064616,0.043771
2,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Trevor Frost @tbfrost | Snakes in car...,874,181431,0.056423,0.050805
3,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Michael Melford @michaelmelford | An ...,576,284326,0.124093,0.027513
4,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by @gerdludwig | Wearing the local costu...,1599,287573,0.126229,0.107472

In [4]:
df['engagement'] = 0.4*df['likes_scaled'] + 0.6*df['comments_scaled']
df.head()

,display_url,caption,comments,likes,likes_scaled,comments_scaled,engagement
0,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by William Albert Allard @williamalberta...,308,161611,0.043389,0.006566,0.021295
1,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Katie Orlinsky @katieorlinsky | A you...,784,193888,0.064616,0.043771,0.052109
2,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Trevor Frost @tbfrost | Snakes in car...,874,181431,0.056423,0.050805,0.053052
3,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Michael Melford @michaelmelford | An ...,576,284326,0.124093,0.027513,0.066145
4,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by @gerdludwig | Wearing the local costu...,1599,287573,0.126229,0.107472,0.114975

In [5]:
median_engagement=df['engagement'].median()
median_engagement

0.09448140659259426

In [6]:
import numpy as np
df['engagement_hilo'] = np.where(df['engagement']>median_engagement, 1, 0)

In [7]:
df.head()

,display_url,caption,comments,likes,likes_scaled,comments_scaled,engagement,engagement_hilo
0,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by William Albert Allard @williamalberta...,308,161611,0.043389,0.006566,0.021295,0
1,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Katie Orlinsky @katieorlinsky | A you...,784,193888,0.064616,0.043771,0.052109,0
2,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Trevor Frost @tbfrost | Snakes in car...,874,181431,0.056423,0.050805,0.053052,0
3,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Michael Melford @michaelmelford | An ...,576,284326,0.124093,0.027513,0.066145,0
4,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by @gerdludwig | Wearing the local costu...,1599,287573,0.126229,0.107472,0.114975,1

In [8]:
df['engagement_hilo'].value_counts()
#as expected, half the values are above the median, and half are below the median

1    241
0    241
Name: engagement_hilo, dtype: int64

part B

In [9]:
df

,display_url,caption,comments,likes,likes_scaled,comments_scaled,engagement,engagement_hilo
0,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by William Albert Allard @williamalberta...,308,161611,0.043389,0.006566,0.021295,0
1,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Katie Orlinsky @katieorlinsky | A you...,784,193888,0.064616,0.043771,0.052109,0
2,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Trevor Frost @tbfrost | Snakes in car...,874,181431,0.056423,0.050805,0.053052,0
3,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Michael Melford @michaelmelford | An ...,576,284326,0.124093,0.027513,0.066145,0
4,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by @gerdludwig | Wearing the local costu...,1599,287573,0.126229,0.107472,0.114975,1
...,...,...,...,...,...,...,...,...
477,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Joel Sartore @joelsartore | Thousands...,788,382363,0.188569,0.044083,0.101877,1
478,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Ira Block @irablockphoto | Hand-paint...,901,388387,0.192530,0.052915,0.108761,1
479,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Ismail Ferdous @ismailferdous | A dri...,2504,742681,0.425536,0.178209,0.277139,1
480,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by David Chancellor @chancellordavid | A...,11698,539258,0.291752,0.896827,0.654797,1
481,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Diana Markosian @markosian | A mother...,603,248729,0.100683,0.029623,0.058047,0

In [10]:
pickle =pd.read_pickle('save.p')

In [11]:
pickle

,display_url,caption,comments,likes,labels
0,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by William Albert Allard @williamalberta...,308,161611,"[Action-adventure game, Horse, Cowboy, Screens..."
1,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Katie Orlinsky @katieorlinsky | A you...,784,193888,"[Winter, Snow, Arctic, Ice, Headgear, Playing ..."
2,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Trevor Frost @tbfrost | Snakes in car...,874,181431,"[People, Fun, Event, Crowd, Art, Night, Perfor..."
3,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Michael Melford @michaelmelford | An ...,576,284326,"[Water, Liquid, Close-up, Sky, Sand, Pattern, ..."
4,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by @gerdludwig | Wearing the local costu...,1599,287573,"[Food, Baking, Cuisine, Dish, Bakery, Sourdoug..."
...,...,...,...,...,...
477,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Joel Sartore @joelsartore | Thousands...,788,382363,"[Sky, Sea, Cloud, Ocean, Coast, Shore, Horizon..."
478,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Ira Block @irablockphoto | Hand-paint...,901,388387,"[Umbrella, Lighting, Ceiling, Fashion accessor..."
479,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Ismail Ferdous @ismailferdous | A dri...,2504,742681,"[Atmospheric phenomenon, Nature, Light, Mornin..."
480,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by David Chancellor @chancellordavid | A...,11698,539258,"[Snout, Rhinoceros]"
481,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Diana Markosian @markosian | A mother...,603,248729,"[Atmospheric phenomenon, Mist, Fog, Haze, Morn..."

In [12]:
#concat the two dataframe so the score and labels appear together 
allfile= pd.merge(pickle,df[['display_url','likes_scaled','comments_scaled','engagement','engagement_hilo']] , on='display_url')

In [13]:
allfile

,display_url,caption,comments,likes,labels,likes_scaled,comments_scaled,engagement,engagement_hilo
0,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by William Albert Allard @williamalberta...,308,161611,"[Action-adventure game, Horse, Cowboy, Screens...",0.043389,0.006566,0.021295,0
1,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Katie Orlinsky @katieorlinsky | A you...,784,193888,"[Winter, Snow, Arctic, Ice, Headgear, Playing ...",0.064616,0.043771,0.052109,0
2,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Trevor Frost @tbfrost | Snakes in car...,874,181431,"[People, Fun, Event, Crowd, Art, Night, Perfor...",0.056423,0.050805,0.053052,0
3,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Michael Melford @michaelmelford | An ...,576,284326,"[Water, Liquid, Close-up, Sky, Sand, Pattern, ...",0.124093,0.027513,0.066145,0
4,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by @gerdludwig | Wearing the local costu...,1599,287573,"[Food, Baking, Cuisine, Dish, Bakery, Sourdoug...",0.126229,0.107472,0.114975,1
...,...,...,...,...,...,...,...,...,...
477,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Joel Sartore @joelsartore | Thousands...,788,382363,"[Sky, Sea, Cloud, Ocean, Coast, Shore, Horizon...",0.188569,0.044083,0.101877,1
478,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Ira Block @irablockphoto | Hand-paint...,901,388387,"[Umbrella, Lighting, Ceiling, Fashion accessor...",0.192530,0.052915,0.108761,1
479,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Ismail Ferdous @ismailferdous | A dri...,2504,742681,"[Atmospheric phenomenon, Nature, Light, Mornin...",0.425536,0.178209,0.277139,1
480,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by David Chancellor @chancellordavid | A...,11698,539258,"[Snout, Rhinoceros]",0.291752,0.896827,0.654797,1
481,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Diana Markosian @markosian | A mother...,603,248729,"[Atmospheric phenomenon, Mist, Fog, Haze, Morn...",0.100683,0.029623,0.058047,0

TfidfVectorizer

In [14]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
allfile

,display_url,caption,comments,likes,labels,likes_scaled,comments_scaled,engagement,engagement_hilo
0,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by William Albert Allard @williamalberta...,308,161611,"[Action-adventure game, Horse, Cowboy, Screens...",0.043389,0.006566,0.021295,0
1,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Katie Orlinsky @katieorlinsky | A you...,784,193888,"[Winter, Snow, Arctic, Ice, Headgear, Playing ...",0.064616,0.043771,0.052109,0
2,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Trevor Frost @tbfrost | Snakes in car...,874,181431,"[People, Fun, Event, Crowd, Art, Night, Perfor...",0.056423,0.050805,0.053052,0
3,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Michael Melford @michaelmelford | An ...,576,284326,"[Water, Liquid, Close-up, Sky, Sand, Pattern, ...",0.124093,0.027513,0.066145,0
4,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by @gerdludwig | Wearing the local costu...,1599,287573,"[Food, Baking, Cuisine, Dish, Bakery, Sourdoug...",0.126229,0.107472,0.114975,1
...,...,...,...,...,...,...,...,...,...
477,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Joel Sartore @joelsartore | Thousands...,788,382363,"[Sky, Sea, Cloud, Ocean, Coast, Shore, Horizon...",0.188569,0.044083,0.101877,1
478,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Ira Block @irablockphoto | Hand-paint...,901,388387,"[Umbrella, Lighting, Ceiling, Fashion accessor...",0.192530,0.052915,0.108761,1
479,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Ismail Ferdous @ismailferdous | A dri...,2504,742681,"[Atmospheric phenomenon, Nature, Light, Mornin...",0.425536,0.178209,0.277139,1
480,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by David Chancellor @chancellordavid | A...,11698,539258,"[Snout, Rhinoceros]",0.291752,0.896827,0.654797,1
481,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Diana Markosian @markosian | A mother...,603,248729,"[Atmospheric phenomenon, Mist, Fog, Haze, Morn...",0.100683,0.029623,0.058047,0

In [16]:
allfile['labels']=allfile['labels'].astype(str)

In [17]:
allfile['labels']=allfile['labels'].str.strip('[]').astype(str)
allfile['labels']=allfile['labels'].str.strip("'").astype(str)
allfile['labels']=allfile['labels'].str.replace(',',' ')

In [18]:
allfile

,display_url,caption,comments,likes,labels,likes_scaled,comments_scaled,engagement,engagement_hilo
0,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by William Albert Allard @williamalberta...,308,161611,Action-adventure game' 'Horse' 'Cowboy' 'Sc...,0.043389,0.006566,0.021295,0
1,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Katie Orlinsky @katieorlinsky | A you...,784,193888,Winter' 'Snow' 'Arctic' 'Ice' 'Headgear' ...,0.064616,0.043771,0.052109,0
2,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Trevor Frost @tbfrost | Snakes in car...,874,181431,People' 'Fun' 'Event' 'Crowd' 'Art' 'Nigh...,0.056423,0.050805,0.053052,0
3,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Michael Melford @michaelmelford | An ...,576,284326,Water' 'Liquid' 'Close-up' 'Sky' 'Sand' '...,0.124093,0.027513,0.066145,0
4,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by @gerdludwig | Wearing the local costu...,1599,287573,Food' 'Baking' 'Cuisine' 'Dish' 'Bakery' ...,0.126229,0.107472,0.114975,1
...,...,...,...,...,...,...,...,...,...
477,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Joel Sartore @joelsartore | Thousands...,788,382363,Sky' 'Sea' 'Cloud' 'Ocean' 'Coast' 'Shore...,0.188569,0.044083,0.101877,1
478,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Ira Block @irablockphoto | Hand-paint...,901,388387,Umbrella' 'Lighting' 'Ceiling' 'Fashion acc...,0.192530,0.052915,0.108761,1
479,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Ismail Ferdous @ismailferdous | A dri...,2504,742681,Atmospheric phenomenon' 'Nature' 'Light' 'M...,0.425536,0.178209,0.277139,1
480,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by David Chancellor @chancellordavid | A...,11698,539258,Snout' 'Rhinoceros,0.291752,0.896827,0.654797,1
481,https://instagram.fftw1-1.fna.fbcdn.net/v/t51....,Photo by Diana Markosian @markosian | A mother...,603,248729,Atmospheric phenomenon' 'Mist' 'Fog' 'Haze'...,0.100683,0.029623,0.058047,0

# Logistic Regression for Labels

In [19]:
corpus_label = allfile['labels'].tolist()

In [20]:
tfidf = TfidfVectorizer(stop_words='english', max_features=2000)
score_label = tfidf.fit_transform(corpus_label)

In [21]:
tfidf_label = pd.DataFrame(score_label.toarray(), columns=tfidf.get_feature_names())

In [22]:
tfidf_label

,academic,accessory,accordion,accordionist,acrobatic,action,adansonia,adaptation,adventure,advertising,...,wool,work,working,world,wrangler,wrasses,wrinkle,yellow,youth,zoo
0,0.0,0.000000,0.0,0.0,0.0,0.238475,0.0,0.0,0.358615,0.0,...,0.0,0.0,0.19242,0.0,0.238475,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
478,0.0,0.497721,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
479,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
480,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
481,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

In [23]:
tfidf_label['engagement']= allfile['engagement_hilo']

In [24]:
tfidf_label

,academic,accessory,accordion,accordionist,acrobatic,action,adansonia,adaptation,adventure,advertising,...,work,working,world,wrangler,wrasses,wrinkle,yellow,youth,zoo,engagement
0,0.0,0.000000,0.0,0.0,0.0,0.238475,0.0,0.0,0.358615,0.0,...,0.0,0.19242,0.0,0.238475,0.0,0.0,0.0,0.0,0.0,0
1,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0
2,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0
3,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0
4,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1
478,0.0,0.497721,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1
479,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1
480,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1
481,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.00000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0

In [25]:
#logistic Regression for Labels

y=tfidf_label[['engagement']]
X= tfidf_label.drop(columns=['engagement'])

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

logreg = LogisticRegression()
logreg.fit(X_train, y_train)

C:\Users\19726\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\19726\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [29]:
y_pred= logreg.predict(X_test)

In [30]:
from sklearn.metrics import accuracy_score 
accuracy = accuracy_score(y_test,y_pred)

In [31]:
print('Model accuracy:',accuracy)

Model accuracy: 0.6859504132231405

In [32]:
y_predicted= pd.DataFrame(y_pred,columns=['y_Predicted']).reset_index()

In [33]:
y_predicted=y_predicted.drop(columns='index')

In [34]:
y_test=y_test.reset_index()
y_test=y_test.drop(columns='index')

In [35]:
matrix=pd.merge(y_predicted, y_test, left_index=True, right_index=True)

In [36]:
confusion_matrix = pd.crosstab(matrix['engagement'], matrix['y_Predicted'], rownames=['Actual'], colnames=['Predicted'])
print (confusion_matrix)

Predicted   0   1
Actual
0          41  16
1          22  42

# Logistic Regression for Caption

In [37]:
corpus=allfile['caption'].tolist()

In [38]:
tfidf = TfidfVectorizer(stop_words='english', max_features=2000)
score = tfidf.fit_transform(corpus)

In [39]:
tfidf_cap = pd.DataFrame(score.toarray(), columns=tfidf.get_feature_names())
tfidf_cap['engagement']= allfile['engagement_hilo']

In [40]:
y=tfidf_cap[['engagement']]
X= tfidf_cap.drop(columns=['engagement'])

In [41]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)

In [42]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

logreg = LogisticRegression()
logreg.fit(X_train, y_train)

C:\Users\19726\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\19726\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [43]:
y_pred= logreg.predict(X_test)
from sklearn.metrics import accuracy_score 
accuracy = accuracy_score(y_test,y_pred)
print('Model accuracy:',accuracy)

Model accuracy: 0.7024793388429752

In [44]:
y_predicted= pd.DataFrame(y_pred,columns=['y_Predicted']).reset_index()
y_predicted=y_predicted.drop(columns='index')

In [45]:
y_test=y_test.reset_index()
y_test=y_test.drop(columns='index')
matrix=pd.merge(y_predicted, y_test, left_index=True, right_index=True)

In [46]:
confusion_matrix = pd.crosstab(matrix['engagement'], matrix['y_Predicted'], rownames=['Actual'], colnames=['Predicted'])
print (confusion_matrix)

Predicted   0   1
Actual
0          39  18
1          18  46

# PART B Analysis

Running the logistic Regression for both labels and caption seem to provide an prediction accuracy of around 70% with caption having a more accurate model compare to labels. I theorized that this is due to the fact that the labels is not as good of a independent variable for predicting engagement compare to captions, as labels may overgeneralized the post category, while caption can more sucessfully capture the post that the image is in, thus providing the slightly higher accuracy in the model.

# PART C

In [47]:
import pandas as pd
df = pd.read_pickle('save.p')
df2 = pd.read_csv('post_info.csv')

In [48]:
import pandas as pd
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()

df['likes_scaled']= min_max_scaler.fit_transform(df[['likes']])
df['comments_scaled']= min_max_scaler.fit_transform(df[['comments']])
df = df.drop(df.columns[0], axis=1)
df['engagement'] = 0.4*df['likes_scaled'] + 0.6*df['comments_scaled']
df.head()

,caption,comments,likes,labels,likes_scaled,comments_scaled,engagement
0,Photo by William Albert Allard @williamalberta...,308,161611,"[Action-adventure game, Horse, Cowboy, Screens...",0.043389,0.006566,0.021295
1,Photo by Katie Orlinsky @katieorlinsky | A you...,784,193888,"[Winter, Snow, Arctic, Ice, Headgear, Playing ...",0.064616,0.043771,0.052109
2,Photo by Trevor Frost @tbfrost | Snakes in car...,874,181431,"[People, Fun, Event, Crowd, Art, Night, Perfor...",0.056423,0.050805,0.053052
3,Photo by Michael Melford @michaelmelford | An ...,576,284326,"[Water, Liquid, Close-up, Sky, Sand, Pattern, ...",0.124093,0.027513,0.066145
4,Photo by @gerdludwig | Wearing the local costu...,1599,287573,"[Food, Baking, Cuisine, Dish, Bakery, Sourdoug...",0.126229,0.107472,0.114975

In [49]:
import gensim
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import STOPWORDS
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.stem.porter import *
import numpy as np
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\19726\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [50]:
stemmer = PorterStemmer()
def lemmatize_stemming(text):
    return stemmer.stem(WordNetLemmatizer().lemmatize(text, pos='v'))
def preprocess(text):
    text= ' '.join(text)
    result = []
    for token in gensim.utils.simple_preprocess(text):
        if token not in gensim.parsing.preprocessing.STOPWORDS and len(token) > 0:
            result.append(lemmatize_stemming(token))
    return result

In [51]:
doc_sample = df['labels'].iloc[0]
doc_sample = ' '.join(doc_sample)

print('original document: ')
words = []
for word in doc_sample.split(' '):
    words.append(word)
print(words)
print('\n\n tokenized and lemmatized document: ')
print(preprocess(doc_sample))

original document:
['Action-adventure', 'game', 'Horse', 'Cowboy', 'Screenshot', 'Pc', 'game', 'Working', 'animal', 'Wrangler', 'Adventure', 'game', 'Gunfighter', 'Games']


 tokenized and lemmatized document:
[]

In [52]:
processed_docs = df['labels'].map(preprocess)
processed_docs[:10]

0    [action, adventur, game, hors, cowboy, screens...
1    [winter, snow, arctic, ice, headgear, play, sn...
2      [peopl, fun, event, crowd, art, night, perform]
3    [water, liquid, close, sky, sand, pattern, tra...
4    [food, bake, cuisin, dish, bakeri, sourdough, ...
5    [water, tree, coast, sea, adapt, linen, wood, ...
6    [sky, wildlif, organ, cloud, photographi, wood...
7    [water, sky, sea, stock, photographi, happi, f...
8    [peopl, face, facial, express, monochrom, blac...
9    [hair, fashion, hairstyl, crowd, black, hair, ...
Name: labels, dtype: object

In [53]:
dictionary = gensim.corpora.Dictionary(processed_docs)
count = 0
for k, v in dictionary.iteritems():
    print(k, v)
    count += 1
    if count > 10:
        break

0 action
1 adventur
2 anim
3 cowboy
4 game
5 gunfight
6 hors
7 pc
8 screenshot
9 work
10 wrangler

In [54]:
dictionary.filter_extremes(no_below=15, no_above=0.5, keep_n=100000)

In [55]:
bow_corpus = [dictionary.doc2bow(doc) for doc in processed_docs]
bow_corpus[5]

[(13, 1), (14, 1), (15, 1), (16, 1), (17, 1), (18, 1)]

In [56]:
bow_doc_5 = bow_corpus[5]
for i in range(len(bow_doc_5)):
    print("Word {} (\"{}\") appears {} time.".format(bow_doc_5[i][0], 
                                               dictionary[bow_doc_5[i][0]], 
bow_doc_5[i][1]))

Word 13 ("water") appears 1 time.
Word 14 ("adapt") appears 1 time.
Word 15 ("plant") appears 1 time.
Word 16 ("sea") appears 1 time.
Word 17 ("tree") appears 1 time.
Word 18 ("vacat") appears 1 time.

In [57]:
from gensim import corpora, models
tfidf = models.TfidfModel(bow_corpus)
corpus_tfidf = tfidf[bow_corpus]
from pprint import pprint
for doc in corpus_tfidf[:5]:
    pprint(doc)

[(0, 1.0)]
[(1, 0.5747143062438688),
 (2, 0.4562561743091067),
 (3, 0.3890597398497728),
 (4, 0.5569257476822866)]
[(5, 0.42256984570073813),
 (6, 0.48877538733942144),
 (7, 0.38651861842540564),
 (8, 0.36159584626514396),
 (9, 0.38651861842540564),
 (10, 0.3911374508027564)]
[(11, 0.6345810070659988), (12, 0.42860843143796695), (13, 0.643118774388828)]
[]

In [58]:
lda_model = gensim.models.LdaMulticore(bow_corpus, num_topics = 5, id2word=dictionary, passes=2, workers=2)
for idx, topic in lda_model.print_topics(-1):
    print('Topic: {} \nWords: {}'.format(idx, topic))

Topic: 0
Words: 0.096*"photographi" + 0.092*"sea" + 0.079*"water" + 0.061*"marin" + 0.057*"fish" + 0.046*"organ" + 0.043*"underwat" + 0.042*"white" + 0.040*"sky" + 0.038*"biolog"
Topic: 1
Words: 0.098*"wildlif" + 0.084*"anim" + 0.071*"terrestri" + 0.064*"vertebr" + 0.052*"mammal" + 0.035*"bird" + 0.034*"carnivor" + 0.033*"grass" + 0.032*"plant" + 0.031*"rock"
Topic: 2
Words: 0.081*"water" + 0.080*"architectur" + 0.074*"templ" + 0.059*"tourism" + 0.049*"photographi" + 0.048*"sky" + 0.047*"bird" + 0.039*"vacat" + 0.034*"adapt" + 0.034*"event"
Topic: 3
Words: 0.114*"sky" + 0.112*"natur" + 0.071*"landscap" + 0.056*"atmospher" + 0.045*"tree" + 0.044*"water" + 0.040*"light" + 0.038*"cloud" + 0.038*"phenomenon" + 0.037*"plant"
Topic: 4
Words: 0.106*"mountain" + 0.059*"photographi" + 0.047*"fun" + 0.046*"geolog" + 0.045*"adapt" + 0.043*"sky" + 0.043*"phenomenon" + 0.040*"landform" + 0.040*"natur" + 0.039*"event"

In [59]:
lda_model_tfidf = gensim.models.LdaMulticore(corpus_tfidf, num_topics=5, id2word=dictionary, passes=2, workers=4)
for idx, topic in lda_model_tfidf.print_topics(-1):
    print('Topic: {} Word: {}'.format(idx, topic))

Topic: 0 Word: 0.074*"natur" + 0.071*"mountain" + 0.044*"landform" + 0.044*"landscap" + 0.041*"water" + 0.040*"sky" + 0.040*"ocean" + 0.039*"art" + 0.037*"room" + 0.036*"sea"
Topic: 1 Word: 0.079*"anim" + 0.060*"terrestri" + 0.059*"wildlif" + 0.051*"sea" + 0.045*"marin" + 0.045*"mammal" + 0.044*"grassland" + 0.043*"organ" + 0.043*"natur" + 0.032*"vertebr"
Topic: 2 Word: 0.080*"human" + 0.069*"bird" + 0.063*"smile" + 0.054*"child" + 0.053*"adapt" + 0.046*"recreat" + 0.044*"photographi" + 0.043*"peopl" + 0.042*"fun" + 0.033*"water"
Topic: 3 Word: 0.076*"photographi" + 0.063*"fish" + 0.056*"tree" + 0.048*"plant" + 0.047*"white" + 0.037*"tourism" + 0.037*"rock" + 0.034*"phenomenon" + 0.032*"geolog" + 0.032*"landscap"
Topic: 4 Word: 0.058*"event" + 0.057*"light" + 0.048*"night" + 0.046*"grass" + 0.036*"plant" + 0.036*"fun" + 0.035*"wildlif" + 0.034*"templ" + 0.033*"carnivor" + 0.032*"sky"

In [60]:
unseen_document = df['labels'].iloc[19]
bow_vector = dictionary.doc2bow(preprocess(unseen_document))
for index, score in sorted(lda_model_tfidf[bow_vector], key=lambda tup: -1*tup[1]):
    print("Score: {}\t Topic: {}".format(score, lda_model_tfidf.print_topic(index, 5)))

Score: 0.6962829828262329	 Topic: 0.076*"photographi" + 0.063*"fish" + 0.056*"tree" + 0.048*"plant" + 0.047*"white"
Score: 0.2276429682970047	 Topic: 0.074*"natur" + 0.071*"mountain" + 0.044*"landform" + 0.044*"landscap" + 0.041*"water"
Score: 0.025460602715611458	 Topic: 0.080*"human" + 0.069*"bird" + 0.063*"smile" + 0.054*"child" + 0.053*"adapt"
Score: 0.025307219475507736	 Topic: 0.079*"anim" + 0.060*"terrestri" + 0.059*"wildlif" + 0.051*"sea" + 0.045*"marin"
Score: 0.025306249037384987	 Topic: 0.058*"event" + 0.057*"light" + 0.048*"night" + 0.046*"grass" + 0.036*"plant"

In [61]:
def topic_weights(x):
    bow_vector = dictionary.doc2bow(preprocess(unseen_document))
    return lda_model_tfidf[bow_vector]

In [62]:
df['topic_weights'] = df['labels'].copy()
df['topic_weights'] = df['topic_weights'].map(topic_weights)

In [66]:
high_quart = df[df['engagement'] > np.quantile(df['engagement'], .75)]
low_quart = df[df['engagement'] < np.quantile(df['engagement'], .25)]

In [67]:
counth0,counth1,counth2,counth3,counth4 = 0,0,0,0,0
for x in high_quart['topic_weights']:
    for y in x:
        if y[0] == 0:
            #top0+=1
            #print(y)
            #print(y[0])
            counth0+=y[1]
        elif y[0] == 1:
            #top1+=1
            counth1+=y[1]
        elif y[0] == 2:
            #top2+=1
            counth2+=y[1]
        elif y[0] == 3:
            #top3+=1
            counth3+=y[1]
        elif y[0] == 4:
            #top4+=1
            counth4+=y[1]
print('Average Engagment on the high quartile for Topic 1: ', counth0/121)
print('Average Engagment on the high quartile for Topic 2: ', counth1/121)
print('Average Engagment on the high quartile for Topic 3: ', counth2/121)
print('Average Engagment on the high quartile for Topic 4: ', counth3/121)
print('Average Engagment on the high quartile for Topic 5: ', counth4/121)

Average Engagment on the high quartile for Topic 1:  0.22744441722050185
Average Engagment on the high quartile for Topic 2:  0.025307828206415018
Average Engagment on the high quartile for Topic 3:  0.025462807363961355
Average Engagment on the high quartile for Topic 4:  0.6964781456742405
Average Engagment on the high quartile for Topic 5:  0.025306799071879427

In [68]:
count0,count1,count2,count3,count4 = 0,0,0,0,0
top0 = 0
for x in low_quart['topic_weights']:
    for y in x:
        if y[0] == 0:
            top0+=1
            count0+=y[1]
        elif y[0] == 1:
            #top1+=1
            count1+=y[1]
        elif y[0] == 2:
            #top2+=1
            count2+=y[1]
        elif y[0] == 3:
            #top3+=1
            count3+=y[1]
        elif y[0] == 4:
            #top1+=1
            count4+=y[1]
print(top0)
print('Average Engagment on the low quartile for Topic 1: ', count0/121)
print('Average Engagment on the low quartile for Topic 2: ', count1/121)
print('Average Engagment on the low quartile for Topic 3: ', count2/121)
print('Average Engagment on the low quartile for Topic 4: ', count3/121)
print('Average Engagment on the low quartile for Topic 5: ', count4/121)

121
Average Engagment on the low quartile for Topic 1:  0.22743005631876387
Average Engagment on the low quartile for Topic 2:  0.025307871001072166
Average Engagment on the low quartile for Topic 3:  0.025462676747894483
Average Engagment on the low quartile for Topic 4:  0.6964925670426739
Average Engagment on the low quartile for Topic 5:  0.025306826411199964

In [69]:
print("Differences across quartiles: ")
print("Topic 1: " + str(abs((counth0/121)- (count0/121))))
print("Topic 2: " + str(abs((counth1/121)- (count1/121))))
print("Topic 3: " + str(abs((counth2/121)- (count2/121))))
print("Topic 4: " + str(abs((counth3/121)- (count3/121))))
print("Topic 5: " + str(abs((counth4/121)- (count4/121))))

Differences across quartiles:
Topic 1: 1.436090173798088e-05
Topic 2: 4.279465714782105e-08
Topic 3: 1.3061606687209126e-07
Topic 4: 1.442136843343711e-05
Topic 5: 2.7339320536612366e-08

# PART D

From Question B we decided that the best way to engage users was to utilize captions more so than tags. From Question C we saw that the largest difference between quartiles occurs in Topic 4 (things like “landscape”, “fish”, “light”, “atmosphere”, “grassland”), and the smallest difference occurs on Topic 2 (“sea", "plant", "tree", "marina" etc). Thus, if I were advising National Geographic, I would advise them to spend more time on their captions than on their tags, and to focus on photos that deal more with the ocean if they wanted to be able to accurately predict their engagement, and to focus on atmospheric issues more if they wished to be able to see a jump in engagement.